<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新经资讯后台管理</title>
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
	<link rel="stylesheet" href="../../static/admin/css/jquery.pagination.css">
	<script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/admin/js/vue.min.js"></script>
	<script type="text/javascript" src="../../static/admin/js/jquery.pagination.min.js"></script>
</head>
<body>
	<div class="breadcrub">
			当前位置：新闻管理>新闻审核
			<form class="news_filter_form">
				<input type="text" placeholder="请输入关键字" class="input_txt">
				<input type="submit" value="搜 索" class="input_sub">
			</form>
		</div>
		<div class="pannel">
			<table class="common_table">
				<tr>
					<th width="3%">id</th>
					<th width="70%">标题</th>
					<th width="15%">发布时间</th>
					<th width="5%">状态</th>
					<th width="8%">管理操作</th>
				</tr>
				<tr v-for="news in news_list">
					<td>[[news.id]]</td>
					<td class="tleft">[[news.title]]</td>
					<td>[[news.create_time]]</td>
					<td v-if="news.status==1">未审核</td>
                    <td v-if="news.staus==2">已通过</td>
                    <td v-if="news.staus==3">未通过</td>
                    <td>
						<a href="news_review_detail.html" class="review">审核</a>
					</td>
				</tr>
            </table>
        </div>
		<div class="box">
			<div id="pagination" class="page"></div>
		</div>

        <script>
			    $(function () {
                    vue_common_table = new Vue({
                        el: '.common_table',
                        delimiters: ['[[', ']]'],
                        data: {
                            news_list: []
                        }
        });

        loadnewslist(1, '');
        //阻止表单提交
        $('.news_filter_form').submit(function (e) {
            e.preventDefault();
            loadnewslist(1, $('.input_txt').val());
        });
    });
    function loadnewslist(page,title) {
        $.get('/admin/news_review2',{
                    //谁调用这个函数，谁就传值
                    'page':page,
                    'title':title
                },function (data) {
                    //将数据显示在Vue中，在ajax中获取到数据，显示在vue中，
                    vue_common_table.news_list=data.news_list;
                    //生成页码链接
                    $('#pagination').pagination({
                        currentPage:page,
                        totalPage:data.total_page,
                        callback:function (current) {
                            loadnewslist(current,$('.input_txt').val())
                        }

                    })
                })
            }



        </script>

	
</body>
</html>