{% extends 'news/base.html' %}

{% block head %}
    <script type="text/javascript" src="../../static/news/js/index.js"></script>
    <script type="text/javascript" src="/static/news/js/vue.min.js"></script>
{% endblock %}
{% block munu%}
<ul class="menu fl">
                <li class="active" data-cid="0"><a href="javascript:;">最新</a></li>
                {% for category in category_list %}
                    <li data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
{% endblock %}

{% block body %}
    <div class="conter_con">
        <ul class="list_con fl">

            <li v-for="news in news_list">
                <a :href="'/'+news.id" class="news_pic fl"><img :src="news.pic"></a>
                <a :href="'/'+news.id" class="news_title fl">[[news.title]]</a>
                <a :href="'/'+news.id" class="news_detail fl">[[news.summary]]</a>
                <div class="author_info fl">
                    <div class="author fl">
                        <img :src="news.avatar" style="width: 30px;height:30px;" alt="author">
                        <a href="#">[[news.nick_name]]</a>
                    </div>
                    <div class="time fl">[[news.create_time]]</div>
                </div>
            </li>

        </ul>
        <div class="rank_con fr">
{#            <div class="rank_title">#}
{#                <h3>点击排行</h3>#}
{#            </div>#}
{#            <ul class="rank_list">#}
{#                {% for click in click_list %}#}
{##}
{#                    <li><span class="click{{ loop.index }}">{{ loop.index }}</span>#}
{#                        <a href="/{{ click.id }}">{{ click.title }}</a></li>#}
{#               {% endfor %}#}
{##}
{#            </ul>#}
                {% import 'news/my_macro.html' as my_macro %}
                {{ my_macro.click_show(click_list) }}
        </div>
    </div>
{% endblock %}
    

